.thumb-img{
    width: 100%;
    height: 100%;
}



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(15, 21, 24, 0.5);
  }
  
  .thumb:hover .overlay {
    opacity: 1;
  }

  .thumb {
    position: relative;
  }
  
  .star {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  .text {
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: rgb(216, 212, 212);
    font-weight: 600;
    text-align: center;
    width: 100%;
  }

  .align-center{
      text-align: center;
  }