.side-video{
    max-height: calc(100vh - 165px);
    overflow-y: scroll;
    direction: rtl;
    padding-left: 1px;
    padding-right: 0px;
}
.side-video>div{
    direction: ltr;
}

.no-padding-left {
    padding-left: 0;
}

.video-size {
    width: 560px;
    margin-left: 15px;
}

.width-100 {
  width: 100%;
}

.size-50{
    width: 50%;
}
.align-right{
    text-align: right;
}

.padding-top-15{
  padding-top: 15px;
}

.margin-top-15{
  margin-top: 15px;
}

.padding-top-7{
  padding-top: 7px;
}


  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  .decale-toi-v{
    width: calc(100% - 300px);
    padding-top: 15px;
  }
  @media (max-width: 767px) {
  .decale-toi-v{
    width: 100%;
  }
  }