.side-video{
    max-height: 100vh;
    overflow-y: scroll;
    direction: rtl;
    padding-left: 1px;
    padding-right: 20px;
}
.side-video>div{
    direction: ltr;
}

.no-padding-left {
    padding-left: 0;
}

.video-size {
    width: 560px;
    margin-left: 15px;
}

.size-50{
    width: 50%;
}
.align-right{
    text-align: right;
}